<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PYKA | Lavage auto sans eau à domicile</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!--  Social tags      -->
    <meta name="keywords" content="material dashboard, bootstrap material admin, bootstrap material dashboard, material design admin, material design, creative tim, html dashboard, html css dashboard, web dashboard, freebie, free bootstrap dashboard, css3 dashboard, bootstrap admin, bootstrap dashboard, frontend, responsive bootstrap dashboard, premiu material design admin">
    <meta name="description" content="Lavage auto sans eau à domicile">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="PYKA | Lavage auto sans eau à domicile">
    <meta itemprop="description" content="PYKA | Lavage auto sans eau à domicile">
    <meta itemprop="image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim | Premium Bootstrap Admin Template">
    <meta name="twitter:description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="PYKA | Lavage auto sans eau à domicile" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design." />
    <meta property="og:site_name" content="Creative Tim" />
    <!-- Bootstrap core CSS     -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../../assets/css/material-dashboard5438.css?v=1.2.0" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div th:include="admin/sidebar::sidebar"></div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Messages </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">message</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Liste Des Messages</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">
                                        <span th:each="chatLine,iter : ${chatLineList}">
						<div class="mail-box-header">
                                                    <div class="mail-tools tooltip-demo m-t-md">
                                                        <span th:if="${chatLine.receiverId.login.email} == ${#httpServletRequest.remoteUser}">
                                                            <input id='messageprofilId1' type="hidden" th:value="${chatLine.senderId.id}">
                                                        </span>
                                                        <span th:if="${chatLine.receiverId.login.email} != ${#httpServletRequest.remoteUser}">
                                                            <input id='messageprofilId1' type="hidden" th:value="${chatLine.receiverId.id}">
                                                        </span>
                                                        <input id='messageChatLineId1' type="hidden" th:value="${chatLine.id}">
                                                        
                                                        <h3>
                                                            <span class="font-normal">De : </span><a th:href="@{'/Admin/AfficherChauffeur/'+${chatLine.senderId.id}}"><span th:text="${chatLine.senderId.nom}+' '+${chatLine.senderId.prenom}"></span></a>
                                                        </h3>
                                                        <h5>
                                                            <span class="pull-right font-normal" th:text="${chatLine.date}"></span>
                                                            <span class="font-normal">Email : </span><span th:text="${chatLine.senderId.login.email}"></span>
                                                        </h5>

                                                        <h3>
                                                            <span class="font-normal">A : </span><a th:href="@{'/Admin/AfficherChauffeur/'+${chatLine.receiverId.id}}"><span th:text="${chatLine.receiverId.nom}+' '+${chatLine.receiverId.prenom}"></span></a>
                                                        </h3>
                                                        <h5>
                                                            <span class="pull-right font-normal" th:text="${chatLine.date}"></span>
                                                            <span class="font-normal">Email : </span><span th:text="${chatLine.receiverId.login.email}"></span>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="mail-box">


                                                <div class="mail-body">
                                                    <p>
                                                        <span th:text="${chatLine.message}"></span>
                                                    </p>
                                                </div>
                                                <div class="clearfix"></div>


                                                </div>
                                            </span>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <div class="card">
                                
                                
                        <div id="reply" class="mail-body text-right tooltip-demo card-content">
                            <form enctype="multipart/form-data" class="form-horizontal" th:action="@{/Admin/RepondreMessage}" th:object="${chatLine2}" method="post" role="form">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" placeholder="Message à envoyer" name="message" required></textarea>
                                </div>
                                <input id='messageprofilId' type="hidden" name="messageprofilId">
                                <input id='messageChatLineId' type="hidden" name="messageChatLineId">
                                <button class="btn btn-sm btn-success" type="submit" id="submit"><i class="fa fa-reply"></i> Répondre</button>
                            </form>
                        </div>
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
                </div>
            </div>
            <footer class="footer">
                <div th:include="admin/footer::footer"></div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/material.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
<!-- Library for adding dinamically elements -->
<script th:src="@{/assets/js/arrive.min.js}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/messages_fr.js}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<!-- Promise Library for SweetAlert2 working on IE -->
<script th:src="@{/assets/js/es6-promise-auto.min.js}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script th:src="@{/assets/js/moment.min.js}"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script th:src="@{/assets/js/chartist.min.js}"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script th:src="@{/assets/js/jquery.bootstrap-wizard.js}"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script th:src="@{/assets/js/bootstrap-notify.js}"></script>
<!--   Sharrre Library    -->
<script th:src="@{/assets/js/jquery.sharrre.js}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script th:src="@{/assets/js/jquery-jvectormap.js}"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script th:src="@{/assets/js/nouislider.min.js}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBPtRbohu3Ajde9UW1a04OsGg61MpVbiVU"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script th:src="@{/assets/js/jquery.select-bootstrap.js}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script th:src="@{/assets/js/jquery.datatables.js}"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script th:src="@{/assets/js/sweetalert2.js}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script th:src="@{/assets/js/jasny-bootstrap.min.js}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script th:src="@{/assets/js/fullcalendar.min.js}"></script>
<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script th:src="@{/assets/js/jquery.tagsinput.js}"></script>
<!-- Material Dashboard javascript methods -->
<script th:src="@{/assets/js/material-dashboard5438.js?v=1.2.0}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/demo.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#messages").addClass('in');
        
        $("#messageprofilId").val($("#messageprofilId1").val());
        $("#messageChatLineId").val($("#messageChatLineId1").val());

        var table = $('#datatables').DataTable();

        

        $('.card .material-datatables label').addClass('form-group');
    });
</script>


</html>